<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
		<title>Burger Devouring App</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Arimo|Fjalla+One|Josefin+Sans&display=swap" rel="stylesheet">	
</head>
	<body>
		{{{ body }}}
	</body>
</html>